#parse("/templates/layout/common.vm")
<div class="weui-tabbar">
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
        <img src="$IMAGE_PATH/weui/icon_tabbar.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
        <img src="$IMAGE_PATH/weui/icon_tabbar.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">我的商机</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
        <img src="$IMAGE_PATH/weui/icon_tabbar.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">关于我们</p>
    </a>
</div>