#parse("/templates/layout/common.vm")
<script src="$Lib_PATH/jquery-2.1.4.js" type="text/javascript"></script>
<script src="$Lib_PATH/fastclick.js" type="text/javascript"></script>
<script src="$JS_PATH/jquery-weui.js" type="text/javascript"></script>
<script src="$JS_PATH/swiper.js" type="text/javascript"></script>
