#set($layout="/templates/layout/layout_regist.vm")
#set($page_title="惠商机-公告列表")
#parse("/templates/layout/common.vm")

<!--主体-->
<header class="wy-header">
    <div class="wy-header-icon-back" onclick="javascript:window.history.go(-1);"><span></span></div>
    <div class="wy-header-title">公告列表</div>
</header>
<div class="weui-content">
    <div class="weui-cells wy-news-list">
        <a class="weui-cell weui-cell_access" href="/business/notice/detail">
            <div class="weui-cell__bd">
                <p>热烈祝贺伟义商城成功上线</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell weui-cell_access" href="/business/notice/detail">
            <div class="weui-cell__bd">
                <p>热烈祝贺蓝之蓝股份成功上市</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell weui-cell_access" href="/business/notice/detail">
            <div class="weui-cell__bd">
                <p>热烈祝贺伟义商城成功上线</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell weui-cell_access" href="/business/notice/detail">
            <div class="weui-cell__bd">
                <p>热烈祝贺蓝之蓝股份成功上市</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell weui-cell_access" href="/business/notice/detail">
            <div class="weui-cell__bd">
                <p>热烈祝贺蓝之蓝股份成功上市</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell weui-cell_access" href="/business/notice/detail">
            <div class="weui-cell__bd">
                <p>热烈祝贺伟义商城成功上线</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell weui-cell_access" href="/business/notice/detail">
            <div class="weui-cell__bd">
                <p>热烈祝贺蓝之蓝股份成功上市</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
    </div>

</div>