* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 20px;
  font-family: -apple-system,SF UI Text,Helvetica Neue,Helvetica,Arial,sans-serif;
}
html, body, .swiper-container, .page {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
.loading-percentage {
  text-align: center;
  width: 100%;
  font-size: .8rem;
  top: 45%;
}
.loading {
  margin: 0 0 0 -3rem;
  width: 5.63rem;
  height: .57rem;
  background-image: url(../img/loading-wrap-fs8.png);
  z-index: 9000;
  top: 50%;
  left: 50%;
}
.loading span.ani-elem {
  display: block;
  width: 5.63rem;
  height: .57rem;
  background-image: url(../img/loading-bar-fs8.png)!important;
  z-index: 9999;
  position: relative;
}
.loading .progress {
  display: block;
  width: 0;
  overflow: hidden;
}

.music-wave {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: .1rem;
  right: .6rem;
  z-index: 200;
}

.music-wave span {
  display: block;
  border-radius: .5rem;
  bottom: 0;
  width: 2px;
  height: 8px;
  background: #585453;
  position: absolute;
}

.music-wave .one {
}
.music-wave .two {
  left: 0.26rem;
}
.music-wave .three {
  left: .52rem;
}
.music-wave .four {
  left: .78rem;
}
.music-wave .five {
  left: 1.04rem;
}
/*.13rem*/
.music-play span {
  display: block;
  animation: music-wave .5s infinite ease-in;
}
.music-play .one {
  animation-delay: -.3s;
}
.music-play .two {
  animation-delay: -.4s;
}
.music-play .three {
  animation-delay: -.6s;
}
.music-play .four {
  animation-delay: -.8s;
}
.music-play .five {
  animation-delay: -1s;
}

@keyframes music-wave {
  0% {
    height: 2px;
    /*transform: translateY(0);*/
  }
  30% {
    height: 12px;
    /*transform: translateY(6px);*/
  }
  60% {
    height: 16px;
    /*transform: translateY(8px);*/
  }
  80% {
    height: 12px;
    /*transform: translateY(6px);*/
  }
  100% {
    height: 2px;
    /*transform: translateY(0);*/
  }
}


.loading-page {
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 9999;
}
.loading-page .loading-bird {
  margin-left: -4.25em;
  width: 8.5rem;
  height: 8.5rem;
  top: 7.67rem;
  left: 50%;
  /*background-image: url(../img/p-loading-1-fs8.png);*/
}
.loading-page .loading-circle {
  margin-left: -5rem;
  width: 10rem;
  height: 10rem;
  top: 6.9rem;
  left: 50%;
  /*background-image: url(../img/p-loading-2-fs8.png);*/
  -webkit-animation: rotateMusic 3s linear infinite;
  animation: rotateMusic 3s linear infinite;
}
.loading-page h3 {
  width: 100%;
  text-align: center;
  font-size: .9rem;
  top: 18.65rem;
  font-weight: normal;
  color: #2482fa;
}
.swiper-container {
  background: url(../img/bg-fs8.png) 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.swiper-container-h {
  background-image: none;
}
.swiper-pagination-bullet {
  background: #1671be;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #fff;
}
.text {
  font-size: 0.65rem;
  color: #666;
}

.music {
  width: 2rem;
  height: 2rem;
  top: .75rem;
  right: .75rem;
  z-index: 100;
  background-image: url(../img/music-off-fs8.png);
}
.music-on {
  width: 2rem;
  height: 2rem;
  top: .75rem;
  right: .75rem;
  z-index: 100;
  background-image: url(../img/music-on-fs8.png);
  -webkit-animation: rotateMusic 2s linear infinite;
  animation: rotateMusic 2s linear infinite;
}
@keyframes rotateMusic {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}
.arrow {
  margin-left: -0.5rem;
  width: 1rem;
  height: .75rem;
  background-image: url(../img/arrow-down-fs8.png);
  bottom: .5rem;
  left: 50%;
  animation-iteration-count: infinite;
  z-index: 100;
}

.star {
  width: 1rem;
  height: 1.45rem;
  top: 1.63rem;
  left: 1.13rem;
  background-image: url(../img/star-fs8.png);
}

.ani-elem {
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.invisible {
  visibility: hidden;
}
.page-2,
.page-3,
.page-4,
.page-5,
.page-6,
.page-7, .page-8, .page-9 {
  visibility: hidden;
}
/* page 1 */
.page-1 .logo {
  width: 4.92rem;
  height: 1.15rem;
  top: 1.9rem;
  left: 3.1rem;
  background-image: url(../img/company-logo-fs8.png);
}
.page-1 .proverbs {
  width: 6.88rem;
  height: 1.3rem;
  top: 1.82rem;
  left: 8.75rem;
  background-image: url(../img/proverbs-fs8.png);
}
.page-1 .page-1-01 {
  width: 13.75rem;
  height: 4.45rem;
  top: 5.13rem;
  left: 2.7rem;
  background-image: url(../img/page-1-01-fs8.png);
}
.page-1 .page-1-02 {
  width: 7.47rem;
  height: 4.65rem;
  top: 9.38rem;
  left: 5.47rem;
  background-image: url(../img/page-1-02-fs8.png);
}
.page-1 .page-1-hand-down {
  width: 3.48rem;
  height: 4.9rem;
  bottom: 0.5rem;
  left: 7.75rem;
  background-image: url(../img/page-1-hand-down-fs8.png);
}
.page-1 .page-1-book {
  width: 13.68rem;
  height: 4.35rem;
  top: 13.8rem;
  left: 1.7rem;
  background-image: url(../img/page-1-book-fs8.png);
  z-index: -1;
}
.page-1 .page-1-left-hand {
  width: 3.42rem;
  height: 5.47rem;
  top: 10.3rem;
  left: 3.98rem;
  background-image: url(../img/page-1-left-hand-fs8.png);
}
.page-1 .page-1-right-hand {
  width: 2.48rem;
  height: 5rem;
  top: 10.9rem;
  left: 11.15rem;
  background-image: url(../img/page-1-right-hand-fs8.png);
}
.page-1 .page-1-a-01 {
  width: 1.9rem;
  height: 1.63rem;
  top: 13.1rem;
  left: 2.85rem;
  background-image: url(../img/page-1-a-01-fs8.png);
}
.page-1 .page-1-a-02 {
  width: 1.75rem;
  height: 1.8rem;
  top: 9.35rem;
  left: 2.85rem;
  background-image: url(../img/page-1-a-02-fs8.png);
}
.page-1 .page-1-a-03 {
  width: 2.45rem;
  height: 2.7rem;
  top: 9.18rem;
  left: 13.82rem;
  background-image: url(../img/page-1-a-03-fs8.png);
}
.page-1 .page-1-a-04 {
  width: 2.02rem;
  height: 1.68rem;
  top: 13.03rem;
  left: 13.8rem;
  background-image: url(../img/page-1-a-04-fs8.png);
}
.page-1 .page-1-loading-text {
  width: 100%;
  font-size: .9rem;
  position: absolute;
  text-align: center;
  top: 19.55rem;
}
/* page 2*/
.page-2 .page-title {
  width: 14.88rem;
  height: 2.7rem;
  top: 1.95rem;
  left: 2.1rem;
  background-image: url(../img/page-2-title-fs8.png);
}
.page-2 .page-content-1 {
  width: 7.28rem;
  height: 4.47rem;
  top: 5.88rem;
  left: 8.18rem;
  background-image: url(../img/page-2-content-01-fs8.png);
}
.page-2 .page-content-2 {
  width: 9.63rem;
  height: 4.8rem;
  top: 10.68rem;
  left: 7.53rem;
  background-image: url(../img/page-2-content-02-fs8.png);
}
.page-2 .page-content-3 {
  width: 5.53rem;
  height: 6.28rem;
  top: 8.35rem;
  left: 1.77rem;
  background-image: url(../img/page-2-content-03-fs8.png);
}
.page-2 .page-dialog {
  width: 17.5rem;
  height: 7.33rem;
  top: 16.25rem;
  left: .75rem;
  background-image: url(../img/page-2-dialog-fs8.png);
}
.page-2 .page-bottom {
  width: 18.75rem;
  height: 8.43rem;
  bottom: 0;
  left: 0;
  background-image: url(../img/page-2-bottom-fs8.png);
}
/* page 3 */
.page-3 {}
.page-3 .page-title {
  width: 14.88rem;
  height: 2.7rem;
  top: 1.95rem;
  left: 2.1rem;
  background-image: url(../img/page-3-title-fs8.png);
}
.page-3 .page-tree {
  width: 16.73rem;
  height: 22.48rem;
  bottom: 0;
  left: 1.25rem;
  background-image: url(../img/page-3-tree-fs8.png);
}
.page-3 .page-book {
  width: 3.15rem;
  height: 2.52rem;
  bottom: 11.8rem;
  left: 14.5rem;
  background-image: url(../img/page-3-book-fs8.png);
}
.page-3 .page-text-1 {
  width: 7.08rem;
  height: 1.25rem;
  bottom: 19.75rem;
  left: 6rem;
  background-image: url(../img/page-3-text-1-fs8.png);
}
.page-3 .page-text-2 {
  width: 7.97rem;
  height: 1.25rem;
  bottom: 14.75rem;
  left: 2.67rem;
  background-image: url(../img/page-3-text-2-fs8.png);
}
.page-3 .page-text-3 {
  width: 8.4rem;
  height: 1.4rem;
  bottom: 8.93rem;
  left: 8.28rem;
  background-image: url(../img/page-3-text-3-fs8.png);
}

/* page 4 */
.page-4 .page-title {
  width: 14.88rem;
  height: 2.7rem;
  top: 1.95rem;
  left: 2.1rem;
  background-image: url(../img/page-4-title-fs8.png);
}
.page-4 .page-path {
  width: 18.75rem;
  height: 22.68rem;
  bottom: 0;
  left: 0;
  background-image: url(../img/page-4-path-fs8.png);
}
.page-4 .page-xiansuo {
  width: 2.48rem;
  height: 3.05rem;
  bottom: 21.82rem;
  left: 8.13rem;
  background-image: url(../img/page-4-xiansuo-fs8.png);
}
.page-4 .page-desc {
  width: 14.18rem;
  height: 6.33rem;
  bottom: 2.77rem;
  left: 1.43rem;
  background-image: url(../img/page-4-desc-fs8.png);
}
.page-4 .page-cheguwen {
  width: 2.65rem;
  height: .9rem;
  bottom: 9.38rem;
  left: 8.05rem;
  background-image: url(../img/page-4-cheguwen-fs8.png);
}
.page-4 .page-cheguwen-arrow {
  width: 4.4rem;
  height: .8rem;
  bottom: 10.07rem;
  left: 7.22rem;
  background-image: url(../img/page-4-cheguwen-arrow-fs8.png);
}
.page-4 .page-tuiguang {
  width: 5.4rem;
  height: 3.4rem;
  bottom: 11.6rem;
  left: 2.98rem;
  background-image: url(../img/page-4-tuiguang-fs8.png);
}
.page-4 .page-tuiguang-arrow {
  width: .78rem;
  height: 1.13rem;
  bottom: 11.18rem;
  left: 1.3rem;
  background-image: url(../img/page-4-tuiguang-arrow-fs8.png);
}
.page-4 .page-fenxiang {
  width: 5.58rem;
  height: 3.1rem;
  bottom: 11.68rem;
  left: 10.43rem;
  background-image: url(../img/page-4-fenxiang-fs8.png);
}
.page-4 .page-fenxiang-arrow {
  width: .7rem;
  height: 1.1rem;
  bottom: 11.13rem;
  left: 16.9rem;
  background-image: url(../img/page-4-fenxiang-arrow-fs8.png);
}
.page-4 .page-fenfa {
  width: 6.8rem;
  height: 5.78rem;
  bottom: 14.53rem;
  left: .2rem;
  background-image: url(../img/page-4-fenfa-fs8.png);
}
.page-4 .page-pengyou {
  width: 2.65rem;
  height: 3.6rem;
  bottom: 15.65rem;
  left: 14rem;
  background-image: url(../img/page-4-pengyou-fs8.png);
}

/* page 5 */
.page-5 .page-title {
  width: 14.88rem;
  height: 2.7rem;
  top: 1.95rem;
  left: 2.1rem;
  background-image: url(../img/page-5-title-fs8.png);
}
.page-5 .page-c-1 {
  width: 2.45rem;
  height: 3rem;
  top: 5.5rem;
  left: 8.18rem;
  background-image: url(../img/page-5-c-1-fs8.png);
}
.page-5 .page-c-2 {
  width: 12.97rem;
  height: 9.28rem;
  top: 10.85rem;
  left: 2.88rem;
  background-image: url(../img/page-5-c-2-fs8.png);
}
.page-5 .page-c-3 {
  width: 4.63rem;
  height: 2.13rem;
  top: 8.6rem;
  left: 3.45rem;
  background-image: url(../img/page-5-c-3-fs8.png);
}
.page-5 .page-c-4 {
  width: 4.42rem;
  height: 2.08rem;
  top: 8.6rem;
  left: 10.88rem;
  background-image: url(../img/page-5-c-4-fs8.png);
}
.page-5 .page-c-5 {
  width: 4.7rem;
  height: 2.17rem;
  top: 11.75rem;
  left: 1.2rem;
  background-image: url(../img/page-5-c-5-fs8.png);
}
.page-5 .page-c-6 {
  width: 4.7rem;
  height: 2.17rem;
  top: 11.75rem;
  left: 13.25rem;
  background-image: url(../img/page-5-c-6-fs8.png);
}
.page-5 .page-c-7 {
  width: 17.02rem;
  height: 5.4rem;
  top: 21.7rem;
  left: 1.25rem;
  background-image: url(../img/page-5-c-7-fs8.png);
}

/* page 6 */
.page-6 .page-title {
  width: 14.88rem;
  height: 2.7rem;
  top: 1.95rem;
  left: 2.1rem;
  background-image: url(../img/page-6-title-fs8.png);
}

.page-6 .page-6-c-1 {
  width: 3.73rem;
  height: 3.75rem;
  top: 5.95rem;
  left: 7.63rem;
  background-image: url(../img/page-6-c-01-fs8.png);
}
.page-6 .page-6-c-2 {
  width: 2.85rem;
  height: 2.88rem;
  top: 8.72rem;
  left: 12.82rem;
  background-image: url(../img/page-6-c-02-fs8.png);
}
.page-6 .page-6-c-3 {
  width: 1.55rem;
  height: 3.7rem;
  top: 12.35rem;
  left: 14.25rem;
  background-image: url(../img/page-6-c-03-fs8.png);
}
.page-6 .page-6-c-4 {
  width: 2.85rem;
  height: 3.27rem;
  top: 16.15rem;
  left: 12.78rem;
  background-image: url(../img/page-6-c-04-fs8.png);
}
.page-6 .page-6-c-5 {
  width: 3.73rem;
  height: 1.55rem;
  top: 18.25rem;
  left: 7.6rem;
  background-image: url(../img/page-6-c-05-fs8.png);
}
.page-6 .page-6-c-6 {
  width: 2.88rem;
  height: 3.02rem;
  top: 16.5rem;
  left: 3.1rem;
  background-image: url(../img/page-6-c-06-fs8.png);
}
.page-6 .page-6-c-7 {
  width: 2rem;
  height: 3.73rem;
  top: 12.38rem;
  left: 3.23rem;
  background-image: url(../img/page-6-c-07-fs8.png);
}
.page-6 .page-6-c-8 {
  width: 2.85rem;
  height: 2.92rem;
  top: 8.72rem;
  left: 3.2rem;
  background-image: url(../img/page-6-c-08-fs8.png);
}
.page-6 .page-6-c-9 {
  width: 5.5rem;
  height: 2.25rem;
  top: 12.7rem;
  left: 6.63rem;
  background-image: url(../img/page-6-c-09-fs8.png);
}
.page-6 .page-6-dialog {
  width: 16.77rem;
  height: 5.13rem;
  top: 21.55rem;
  left: 1.15rem;
  background-image: url(../img/page-6-dialog-fs8.png);
}

/* page 7 */
.page-7 .page-title {
  width: 14.88rem;
  height: 2.7rem;
  top: 1.95rem;
  left: 2.1rem;
  background-image: url(../img/page-7-title-fs8.png);
}
.page-7 .page-phone {
  width: 10.5rem;
  height: 12.93rem;
  top: 5.5rem;
  left: 5rem;
  background-image: url(../img/page-7-phone-fs8.png);
}
.page-7 .page-person {
  width: 2.65rem;
  height: 5.55rem;
  top: 13.93rem;
  left: 11.47rem;
  background-image: url(../img/page-7-person-fs8.png);
}
.page-7 .page-jifen {
  width: 7.13rem;
  height: 3.05rem;
  top: 19.18rem;
  left: 2.3rem;
  background-image: url(../img/page-7-jifen-fs8.png);
}
.page-7 .page-tuiguang {
  width: 7.15rem;
  height: 2.9rem;
  top: 19.18rem;
  left: 10.18rem;
  background-image: url(../img/page-7-tuiguang-fs8.png);
}
.page-7 .page-dialog {
  width: 17.05rem;
  height: 5.03rem;
  top: 23rem;
  left: .82rem;
  background-image: url(../img/page-7-dialog-fs8.png);
}

/* page 8 */
.page-8 .page-title {
  width: 14.88rem;
  height: 2.7rem;
  top: 1.95rem;
  left: 2.1rem;
  background-image: url(../img/page-8-title-fs8.png);
}
.page-8 .page-dialog-1 {
  width: 17.07rem;
  height: 15.5rem;
  top: 5.9rem;
  left: .75rem;
  background-image: url(../img/page-8-dialog-1-fs8.png);
}
.page-8 .page-dialog-2 {
  width: 17.05rem;
  height: 5.03rem;
  top: 23.25rem;
  left: .82rem;
  background-image: url(../img/page-8-dialog-2-fs8.png);
}
.page-8 .page-c-1 {
  width: 3.8rem;
  height: 3.6rem;
  top: 7.2rem;
  left: 7.45rem;
  background-image: url(../img/page-8-c-1-fs8.png);
}
.page-8 .page-c-2 {
  width: 4.05rem;
  height: 1.68rem;
  top: 8.97rem;
  left: 1.98rem;
  background-image: url(../img/page-8-c-2-fs8.png);
}
.page-8 .page-c-3 {
  width: 3.38rem;
  height: 1.75rem;
  top: 10.78rem;
  left: 3.92rem;
  background-image: url(../img/page-8-c-3-fs8.png);
}
.page-8 .page-c-4 {
  width: 3.38rem;
  height: 2.15rem;
  top: 11.13rem;
  left: 7.7rem;
  background-image: url(../img/page-8-c-4-fs8.png);
}
.page-8 .page-c-5 {
  width: 3.3rem;
  height: 1.88rem;
  top: 10.8rem;
  left: 11.6rem;
  background-image: url(../img/page-8-c-5-fs8.png);
}
.page-8 .page-c-6 {
  width: 3.2rem;
  height: 1.6rem;
  top: 9.18rem;
  left: 13.28rem;
  background-image: url(../img/page-8-c-6-fs8.png);
}
.page-8 .page-c-7 {
  width: 4.53rem;
  height: 1.95rem;
  top: 13.85rem;
  left: 7rem;
  background-image: url(../img/page-8-c-7-fs8.png);
}
.page-8 .page-c-8 {
  width: 3.4rem;
  height: 2rem;
  top: 16.88rem;
  left: 1.8rem;
  background-image: url(../img/page-8-c-8-fs8.png);
}
.page-8 .page-c-9 {
  width: .4rem;
  height: .57rem;
  top: 17.68rem;
  left: 5.22rem;
  background-image: url(../img/page-8-c-9-fs8.png);
}
.page-8 .page-c-10 {
  width: 3.3rem;
  height: 2.05rem;
  top: 16.8rem;
  left: 5.67rem;
  background-image: url(../img/page-8-c-10-fs8.png);
}
.page-8 .page-c-11 {
  width: .4rem;
  height: .68rem;
  top: 17.63rem;
  left: 8.95rem;
  background-image: url(../img/page-8-c-11-fs8.png);
}
.page-8 .page-c-12 {
  width: 3.33rem;
  height: 2.05rem;
  top: 16.8rem;
  left: 9.43rem;
  background-image: url(../img/page-8-c-12-fs8.png);
}
.page-8 .page-c-13 {
  width: .42rem;
  height: .3rem;
  top: 17.75rem;
  left: 12.95rem;
  background-image: url(../img/page-8-c-13-fs8.png);
}
.page-8 .page-c-14 {
  width: 3.77rem;
  height: 2.05rem;
  top: 16.82rem;
  left: 13.5rem;
  background-image: url(../img/page-8-c-14-fs8.png);
}
.page-8 .page-c-15 {
  width: 2.8rem;
  height: .85rem;
  top: 21.63rem;
  left: 7.95rem;
  background-image: url(../img/page-8-c-15-fs8.png);
}
/* page 9 */
.page-9 .page-logo-big {
  margin-left: -6.91rem;
  width: 13.82rem;
  height: 14.05rem;
  top: 7.67rem;
  left: 50%;
  background-image: url(../img/page-9-logo-big-fs8.png);
}
.page-9 .page-logo {
  width: 6.95rem;
  height: 1.6rem;
  top: 7.67rem;
  left: 6rem;
  background-image: url(../img/page-9-logo-fs8.png);
}
.page-9 .page-text-1 {
  width: 14.35rem;
  height: 5.28rem;
  top: 10.97rem;
  left: 2.67rem;
  background-image: url(../img/page-9-text-1-fs8.png);
}
.page-9 .page-text-2 {
  width: 9.78rem;
  height: 1.3rem;
  bottom: 2.25rem;
  left: 4.55rem;
  background-image: url(../img/page-9-text-2-fs8.png);
}
.hide {
  display: none!important;
}
