#set($page_title="惠商机-首页")
#parse("/templates/layout/common.vm")

<div class="weui-flex wy-iconlist-box">
    <div class="weui-flex__item"><a href="#" class="wy-links-iconlist">
        <div class="img"><img src="$IMAGE_PATH/web/icon-link4.png"></div>
        <p>发布商铺</p></a></div>
    <div class="weui-flex__item"><a href="#" class="wy-links-iconlist">
        <div class="img"><img src="$IMAGE_PATH/web/icon-link1.png"></div>
        <p>订阅商铺</p></a></div>
    <div class="weui-flex__item"><a href="#" class="wy-links-iconlist">
        <div class="img"><img src="$IMAGE_PATH/web/icon-link3.png"></div>
        <p>商机中心</p></a></div>
    <div class="weui-flex__item"><a href="#" class="wy-links-iconlist">
        <div class="img"><img src="$IMAGE_PATH/web/icon-link2.png"></div>
        <p>我的商机</p></a></div>
</div>

<div class="wy-ind-news">
    <i class="news-icon-laba"></i>
    <div class="swiper-container swiper-news swiper-container-vertical">
        <div class="swiper-wrapper" style="transform: translate3d(0px, -3456px, 0px); transition-duration: 0ms;">
            <div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="1"
                 style="height: 1152px;"><a href="news_info.html">蓝之蓝股份成公司上市</a></div>
            <div class="swiper-slide" data-swiper-slide-index="0" style="height: 1152px;"><a href="news_info.html">热烈祝贺惠商机成功上线</a>
            </div>
            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="height: 1152px;"><a
                    href="news_info.html">祝贺晨创科技股份公司上市</a></div>
            <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0"
                 style="height: 1152px;"><a href="news_info.html">热烈祝贺惠商机成功上线</a></div>
        </div>
        <div class="swiper-pagination swiper-pagination-bullets"><span
                class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
                class="swiper-pagination-bullet"></span></div>
    </div>
    <a href="news_list.html" class="newsmore"><i class="news-icon-more"></i></a>
</div>

<div class="wy-Module">
    <div class="wy-Module-tit-line"><span>最新商机</span></div>
    <div class="wy-Module-con">
        <ul class="wy-pro-list clear">
            <li>
                <a href="pro_info.html">
                    <div class="proimg"><img src="$IMAGE_PATH/web/pro1.jpg"></div>
                    <div class="protxt">
                        <div class="name">洋河蓝色瓶装经典Q7浓香型白酒500ml52度高端纯粮食白酒2瓶装包邮</div>
                        <div class="wy-pro-pri">¥<span>296.00</span></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="pro_info.html">
                    <div class="proimg"><img src="$IMAGE_PATH/web/pro2.jpg"></div>
                    <div class="protxt">
                        <div class="name">洋河蓝色瓶装经典Q7浓香型白酒500ml52度高端纯粮食白酒2瓶装包邮</div>
                        <div class="wy-pro-pri">¥<span>296.00</span></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="pro_info.html">
                    <div class="proimg"><img src="$IMAGE_PATH/web/pro3.jpg"></div>
                    <div class="protxt">
                        <div class="name">洋河蓝色瓶装经典Q7浓香型白酒500ml52度高端纯粮食白酒2瓶装包邮</div>
                        <div class="wy-pro-pri">¥<span>296.00</span></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="pro_info.html">
                    <div class="proimg"><img src="$IMAGE_PATH/web/pro4.jpg"></div>
                    <div class="protxt">
                        <div class="name">洋河蓝色瓶装经典Q7浓香型白酒500ml52度高端纯粮食白酒2瓶装包邮</div>
                        <div class="wy-pro-pri">¥<span>296.00</span></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="pro_info.html">
                    <div class="proimg"><img src="$IMAGE_PATH/web/pro5.jpg"></div>
                    <div class="protxt">
                        <div class="name">洋河蓝色瓶装经典Q7浓香型白酒500ml52度高端纯粮食白酒2瓶装包邮</div>
                        <div class="wy-pro-pri">¥<span>296.00</span></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="pro_info.html">
                    <div class="proimg"><img src="$IMAGE_PATH/web/pro1.jpg"></div>
                    <div class="protxt">
                        <div class="name">洋河蓝色瓶装经典Q7浓香型白酒500ml52度高端纯粮食白酒2瓶装包邮</div>
                        <div class="wy-pro-pri">¥<span>296.00</span></div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="morelinks"><a href="#">查看更多 &gt;&gt;</a></div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".swiper-news").swiper({
            loop: true,
            direction: 'vertical',
            paginationHide: true,
            autoplay: 30000
        });
    });
</script>
